@tailwind base;
@tailwind components;
@tailwind utilities;

.videob {
  background-image: url(media/0f167bbfeb31d83e0805823a0b9a3c8c.gif)  ;  
  background-size: cover; 
  background-position: center; 
  height: 100vh; 
  width: 100vw; 
}

